*{
  margin: 0;
  padding: 0;
  font-family: system-ui;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url("img/pex.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
  position: relative;
  width: 100%;
  z-index: 999;
}
nav img {
  width: 70px;
  min-height: 70px;
  border-radius: 50%;
  transition:1s;
  
}
nav img:hover{
  transform: rotate(360deg);
}
.nav-link{
  flex: 1;
  text-align: left;
  
}
.nav-link ul li{
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 15px;
  list-style: none;
  position: relative;
}
.nav-link ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 10px;
  border-radius: 20px;
  display: inline-block;
}
.nav-link ul li a:hover {
  background: white;
  color: green;
}
.text{
  direction: rtl;
  position: absolute;
  width:90%;
  text-align: center;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: #fff;
  
}
.text h1 {
  letter-spacing: 20px;
  font-size: 60px;
  font-weight: 600;
  padding: 0 0 ;
  animation-name: title1;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
.text h2 {
  font-size: 40px;
  font-weight: 600;
  animation-name: title2;
  letter-spacing: 30px;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.text p {
  font-size: 30px;
  margin: 40px 0;
}
.btn{
  color: #fff;
  font-size: 30px;
  border-radius: 10px;
  padding: 10px 16px;
  text-decoration: none;
  border-bottom: 1px solid white;
}

@keyframes title1{
  0%{
    letter-spacing: 10px;
  }
  50%{
    letter-spacing: 5px;
  }
  100%{
    letter-spacing: 0px;
  }
}
@keyframes title2{
  0%{
    letter-spacing: 25px;
  }
  50%{
    letter-spacing: 20px;
  }
  75%{
    letter-spacing: 10px;
  }
  100%{
    letter-spacing: 0px;
  }
}
.btn:hover{
  background: green;
  border: rgb(0, 106, 255);
  transition: 0.1s;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 8vh;
    text-align: center;
}

.footer p{
  margin-top: 30px;
  letter-spacing: 1.5px;
  color: black;
  line-height: 5px;
  
}
.social{
    margin:5px 0 20px;
}
.social .fa{
    margin: 10px 20px;
    font-size: 30px;
}
.social .fa-whatsapp{
    color: green;
}
.social .fa-telegram{
    color: skyblue;
}
@media (max-width:700px){
  .text h1{
    font-size: 30px;
  }
  .text h2{
    font-size: 2010px;
  }
  .text p{
    font-size: 10px;
  }
}
